body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.content-container {
  width: 1146px;
  padding: 0 10px;
  margin: 0 auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* базовая стилизация ссылки */

.button {
  text-align: center;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  color: #ffffff;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
}

/* базовая стилизация кнопки */

.basic-btn {
  padding: 10px 18px 10px 17px;
  margin-left: 8px;

  text-align: center;
  background-image: linear-gradient(0deg, #E74A35 0%, #F26843 100%);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  text-shadow: 1px 1px 1px #a0200b;
  color: #fefefe;

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border: none;
  border-radius: 20px;
}

/* site header */
.site-info {
  position: relative;
  margin-top: 9px;
  margin-right: 9px;
}

.schedule {
  position: absolute;
  right: -992px;
  top: 49px;
  text-align: right;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone-number {
  display: block;
  padding-top: 3px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;

}

.navigation-list {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  width: 980px;
  justify-content: center;
  align-items: flex-start;
}

.navigation-item {
  list-style: none;
}

.navigation-link:hover {
  background-color: #f7f6f3;
  border-radius: 15px;
  color: #000000;
  text-decoration: none;
}

.navigation-link:focus {
  background-color: #d07058;
  border-radius: 15px;
  color: #fefefe;
  text-decoration: none;
}

.navigation-link:active {
  box-shadow: inset 0 1px 0 1px #696969;
  background-color: #f7f6f3;
  color: #000000;
}

.user-item {
  position: relative;
  margin-left: 10px;
  list-style: none;
  background-color: #9db1a5;
  border-radius: 15px;
}

.navigation-link {
  display: block;
  padding: 8px 13px 9px 14px;
  line-height: 18px;
  font-weight: 700;
  color: inherit;
  text-decoration: underline solid rgba(255, 255, 255, .3);
}

.user-link {
  display: block;
  padding: 8px 15px 9px 44px;
  border-radius: 15px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: inherit;
}

.user-link:hover {
  background-color: #f7f6f3;
  color: #000000;
}

.search-link {
  list-style: none;
  margin-left: auto;
}

.search-link:hover .search-container {
  display: block;
}

.site-search {
  position: relative;
}

.search-container {
  padding: 4px 20px;
  display: none;
  position: absolute;
  z-index: 1;
  top: 32px;
  right: -20px;
  width: 383px;
  box-sizing: border-box;
}

.search-wrapper {
  box-sizing: border-box;
  width: 100%;
  border-radius: 10px;
  background-color: #f8f7f4;
  padding: 20px 15px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.site-search-input {
  padding: 8px 15px 14px 15px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.site-search-input::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, .5);
}

.search-button {
  padding: 0;
  width: 32px;
  min-height: 32px;
  border-radius: 50%;
  background-color: #9db1a5;
  background-image: url(../img/search.svg);
  background-position: 8px 7px;
  background-repeat: no-repeat;
  border: none;
}

.search-button:hover {
  background-color: #fefefe;
  background-image: url(../img/search-black.svg);
}

.login-link {
  background-image: url(../img/login.svg);
  background-position: top 7px left 14px;
  background-repeat: no-repeat;
}

.cart-link {
  background-image: url(../img/cart.svg);
  background-position: top 7px left 15px;
  background-repeat: no-repeat;
}

.cart-added {
  background-image: url(../img/cart-full.svg);
  background-color: #fefefe;
  color: #000000;
}

/* end of site header */
/* site-slides */

.site-slides {
  position: relative;
}

.slide {
  padding-top: 312px;
  padding-bottom: 32px;
}

.slide img {
  position: absolute;
  z-index: -1;
  top: -80px;
  left: 61px;
}

.slide h3 {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 60.35px;
  text-align: center;
  padding: 0 200px;
}

.slide-button {
  margin: 0 auto;
  margin-bottom: 43px;
  padding: 7px 3px 11px 0;
  width: 278px;
  display: block;

  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-shadow: 2px 2px 5px #a0200b;

  border-radius: 30px;
}

.slides-toggles {
  position: absolute;
  bottom: 21px;
}

.slide-toggle {
  padding: 0;
  margin-right: 4px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  cursor: pointer;
}

.toggle-active {
  background-color: #ffffff;
}

/* end of site-slides */
/* shop-promotion */

.promotion-card {
  width: 560px;
  padding: 13px 21px 13px 18px;
  margin-bottom: 40px;
  border-radius: 10px;

  flex-direction: column;
}

.promotion-card:nth-child(odd) {
  margin-right: 26px;
}

.promotion-heading {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promotion-description {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.raspberry-card {
  background-image: url(../img/raspberry-bcg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.chocolate-card {
  background-image: url(../img/chocolate-bcg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.promotion-button {
  padding: 8px 23px 12px 20px;
  margin-bottom: 12px;
  border-radius: 30px;
  align-self: flex-end;
}

/* end of promotion-cards */
/* shop-catalog */

.shop-catalog {
  margin-bottom: 40px;
}

.about-us {
  margin-bottom: 40px;
}

.catalog-list {
  margin: 0;
  /* margin-bottom: 40px; */
  padding: 0;
  flex-wrap: wrap;
}

.catalog-item {
  list-style: none;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  margin-right: 24px;
  width: 267px;

  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.button-wrapper {
  display: none;
  padding: 338px 13px 22px 13px;
  width: 100%;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 10px;

  position: absolute;
  z-index: 1;
  bottom: -74px;
  left: -13px;
}

.catalog-item .button {

  display: inline-block;
  vertical-align: middle;

  padding: 10px 20px;
  margin-left: 30px;

  border: none;
  border-radius: 30px;
}

.catalog-item:hover .button-wrapper {
  display: block;
}

.catalog-item:nth-of-type(4n) {
  margin-right: 0;
}

.catalog-item h3 {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  text-align: center;
  text-decoration: underline dotted #9db1a5;
}

.price {
  position: absolute;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  bottom: 21px;
  left: -1px;
  text-shadow: 0.5px 0.9px 3px rgba(49, 50, 53, 0.50);
}

.price span {
  font-size: 30px;
  font-weight: 400;
}

.catalog-img {
  margin-bottom: 7px;

}

.bestseller-link::before {
  content: "";
  width: 60px;
  height: 60px;
  background-image: url(../img/hit.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
}

/* end of catalog */
/* section about-us */

.about-us {
  padding: 22px 19px;
  background-image:
    url(../img/thermometer-logo.svg),
    url(../img/ice-cream-logo.svg),
    url(../img/leaf-logo.svg),
    url(../img/cow-logo.svg),
    url(../img/bcg-pattern.jpg);
  background-position-x: 585px, 20px, 20px, 585px, center;
  background-position-y: 180px, 92px, 180px, 92px, center;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;
  border-radius: 15px;
}

.about-us h1 {
  margin: 0;
  /* margin-bottom: 22px; */
  letter-spacing: 0.25px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: #323232;
}

.advantages-wrapper {
  flex-wrap: wrap;
  padding-left: 56px;
  margin-bottom: 2px;
}

.advantages {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  width: 480px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.advantages:nth-of-type(even) {
  padding-left: 87px;
}

/* end of about-us */
/* online-activity */

.blog-card,
.subscribe-card {
  padding-top: 23px;
  background-color: #ffffff;
}

.blog-card {
  background-image: url(../img/strawberry-bcg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blog-card-heading {
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #323232;
}

.blog-link {
  display: block;
  padding-right: 185px;
  padding-bottom: 70px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #323232;
}

.subscribe-card p {
  margin: 11px 0 35px 7px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #5a5a5a;
}

.subscribe-form {
  margin-left: 7px;
}

.subscribe-form input[type="email"] {
  width: 369px;
  box-sizing: border-box;
  padding: 10px 10px 13px 14px;
  background-color: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;
}

/* end of online-activities */
/* map-container */

iframe {
  width: 100vw;
  height: 428px;
}

.map {
  margin-bottom: 36px;
}

.interactive-map iframe {
  border: none;
}

.map .content-container {
  position: relative;
}

.contacts-card {
  padding: 29px 11px 0 24px;
  width: 302px;
  box-sizing: border-box;
  position: absolute;
  background-color: #fefefe;
  flex-direction: column;
  top: -372px;
  right: 10px;
  border-radius: 15px;
}

.contacts-card p {
  margin: 0;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.contacts-card .phone-order {
  margin-bottom: 27px;
}

.phone-order span {
  padding-top: 5px;
}

.contacts-card span {
  display: block;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #323232;
}

.contacts-btn {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 31px;
  padding: 8px 27px 10px 27px;
  border-radius: 20px;
}

/* end of map */
/* site footer */

.site-footer {
  align-items: flex-start;
  margin-bottom: 25px;
  margin-top: 68px;
}

.site-footer li {
  list-style: none;
}

.social-list {
  margin: 0;
  padding: 0;
}

.social-link-icon {
  margin: 0;
  padding: 0;
  margin-left: 17px;
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;

  background-position: center;
  background-repeat: no-repeat;

  border-radius: 50%;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .5);
}

.twitter-icon {
  background-image: url(../img/twitter.svg);
  margin-left: 3px;
}

.insta-icon {
  background-image: url(../img/instagram.svg);
}

.fb-icon {
  background-image: url(../img/fb.svg);
}

.vk-icon {
  background-image: url(../img/vk.svg);
}

.footer-list {
  margin: 0;
  margin-top: -10px;
  padding: 0;
  width: 350px;
  margin-left: 239px;
  flex-wrap: wrap;
}

.footer-link {
  margin: 0;
  padding: 0;
  min-width: 110px;
  display: inline-block;
  vertical-align: middle;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  text-decoration: underline solid rgba(255, 255, 255, .5);
}

.list-item:nth-of-type(odd) {
  margin-right: 32px;
}

.developer {
  margin-left: auto;
  margin-top: -19px;
}

.developer a {
  color: #fefefe;
  text-decoration: underline solid rgba(255, 255, 255, .5);
}

.developer p {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.developer img {
  margin-top: -3px;
  margin-left: 2px;
}

/* Catalog styling >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.catalog-breadcrumbs {
  margin-top: 19px;
}

.breadcrumbs-item {
  list-style: none;
  position: relative;
}

.breadcrumbs-item a {
  display: block;
  margin-right: 21px;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
}

.breadcrumbs-arrows {
  border-bottom: 1px dotted #fefefe;
}

.breadcrumbs-arrows::after {
  content: "»";
  position: absolute;
  top: 0;
  right: 7px;
}

.catalog-heading {
  margin-bottom: 28px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: #fefefe;
}

.sorting-label {
  display: block;
  margin-left: 17px;
  margin-bottom: 6px;
}

.sortby-wrapper {
  margin-bottom: 14px;
}

.catalog-form {
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #fefefe;

  flex-wrap: wrap;
}

.catalog-form select {
  width: 120%;
  padding: 10px;
  padding-top: 8px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;
  background-color: #a9bab0;
  background-image: url(../img/arrow-select.svg);
  background-repeat: no-repeat;
  background-position: 167px 14px;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.catalog-select-wrapper {
  width: 193px;
  box-sizing: border-box;
  overflow-x: hidden;
  border-radius: 30px;
  background-color: #000000;
}

.range-controls {
  margin-left: 17px;
  width: 218px;
  min-height: 36px;
  background-color: #a9bab0;
  border-radius: 30px;
  position: relative;
}

.scale {
  width: 176px;
  height: 4px;
  background-color: rgba(255, 255, 255, .5);
  position: absolute;
  top: 16px;
  left: 21px;
}

.bar {
  width: 100px;
  height: 4px;
  background-color: #f8f7f4;
  position: absolute;
  top: 0;
  left: 15px;
}

.range-toggle {
  width: 20px;
  height: 20px;
  background-color: #a9bab0;
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 0 0 0 8px #ffffff;
  top: 8px;
  cursor: pointer;
}

.range-toggle-min {
  left: 34px;
}

.range-toggle-max {
  right: 66px;
}

.filter-range-title {
  margin-left: 31px;
  margin-bottom: 8px;
}

.filter-range {
  margin-right: 15px;
}

.filter-heading {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-heading legend {
  margin-left: 15px;
  margin-bottom: 6px;
}

.filter-list {
  margin: 0;
  padding: 6px 0 6px 14px;
  position: relative;

  background-color: #a9bab0;
  border-radius: 30px;

  flex-wrap: wrap;
  justify-content: center;
}

.filter-list-item {
  list-style: none;
}

.filter-list-item label {
  display: inline-block;
  vertical-align: middle;
  margin-right: 16px;
  padding-top: 1px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.filter-list-item input {
  position: absolute;
  left: -9999px;
}

.radio-indicator {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  background: url(../img/radio-off.svg) center no-repeat;
}

.filter-list-item input[type="radio"]:checked+.radio-indicator {
  background: url(../img/radio-on.svg) center no-repeat;
}

.checkbox-indicator {
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 22px;
  background: url(../img/checkbox-off.svg) center no-repeat;
}

.filter-list-item input[type="checkbox"]:checked+.checkbox-indicator {
  background: url(../img/checkbox-on.svg) 1.8px 1px no-repeat;
}

.addons-list {
  margin-right: 0;
  padding-top: 8px;
}

.addons-list li {
  margin-right: 6px;
}

.filter-button {
  margin: 22px 0 0 0;
  padding: 8px 27px 10px 27px;
  margin-left: 13px;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fefefe;

  background-color: #a9bab0;
  border: none;
  border-radius: 30px;

  cursor: pointer;
  align-self: center;

  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #fefefe;
}

.page-navigation {
  margin-left: 1064px;
}

.page-number-list {
  margin: 0;
  padding: 0;
}

.page-number {
  list-style: none;
  margin-right: 2px;
}

.page-number-link {
  padding: 5px 9px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #fefefe;

  background-color: transparent;
  border-radius: 50%;

  display: inline-block;
  vertical-align: middle;
}

.current-page {
  background-color: #fefefe;
  color: #323232;
}

.arrow-link {
  margin: 9px 12px;
  display: block;
  width: 8px;
  height: 12px;
  background: transparent url(../img/icon-right-small.svg) center no-repeat;
}

.arrow-left {
  transform: rotateZ(180deg);
}

/* modals & drop-down menus */
.submenu-container {
  position: relative;
}

.submenu-wrapper {
  display: none;
  padding: 10px;
  position: absolute;
  left: -12px;
  top: 28px;
  z-index: 1;
}

.navigation-submenu {
  margin: 0;
  padding: 0 0 10px;
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  overflow: hidden;
}

.navigation-item:hover .submenu-wrapper {
  display: block;
}

.submenu-items {
  list-style: none;
}

.submenu-link {
  width: 145px;
  box-sizing: border-box;
  display: block;
  padding: 6px 20px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.submenu-items:first-of-type a {
  font-weight: 700;
  padding: 12px 20px;
}

.submenu-link:hover {
  background-color: #fbded8;
}
.submenu-link:active {
  background-color: #f6b5a5;
}
.submenu-link:focus {
  background-color: #d07058;
}

.border::after {
  content: "";
  width: 80%;
  height: 1px;
  background-color: #d1d0ce;
  position: absolute;
  left: 17px;
  top: 49px;
}

/* login-popup*/

.login-popup {
  z-index: 1;
  position: absolute;
  top: 32px;
  right: 0;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
  display: none;
}

.login-form {
  margin-top: 5px;
  padding: 24px 18px;
  width: 277px;
  background-color: #f8f7f4;
  border-radius: 10px;
  box-sizing: border-box;
}

.login-form input {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.login-button {
  display: inline-block;
  vertical-align: middle;

  padding: 10px 24px;
  margin-right: 18px;

  border: none;
  border-radius: 30px;
}

.login-input::placeholder {
  color: rgba(0, 0, 0, .5);
}

.form-links-container {
  display: inline-block;
  vertical-align: middle;
}

.form-link {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #323232;

  text-decoration: underline;
}

/* feedback popup */

.feedback-popup {
  margin-left: -238px;
  margin-top: -170px;
  width: 477px;
  box-sizing: border-box;

  padding: 20px 25px 25px;
  background-color: #f8f7f4;
  border-radius: 10px;

  position: fixed;
  top: 30vh;
  left: 50vw;

  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}

.feedback-popup h2 {
  margin: 0 0 20px 0;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #323232;
}

.feedback-form input,
.feedback-form textarea {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 8px 15px 14px 15px;
  width: 267px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
}

.feedback-form textarea {
  width: 100%;
  resize: none;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, .5);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 15px;

  border: none;
  background-color: transparent;

  width: 20px;
  height: 20px;
  cursor: pointer;
}

.close-button::before {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #323232;
  position: absolute;
  transform: rotate(45deg);
  right: -1px;
}

.close-button::after {
  content: "";
  width: 20px;
  height: 2px;
  background-color: #323232;
  position: absolute;
  transform: rotate(-45deg);
  right: -1px;
}

.feedback-form button {
  display: inline-block;
  vertical-align: middle;

  padding: 10px 24px;
  margin: 5px 0 0 290px;

  border: none;
  border-radius: 30px;
}

/* cart-popup */

.popup-wrapper {

  position: absolute;
  top: 32px;
  right: -3px;
  z-index: 1;
}

.cart-popup {

  margin-top: 5px;
  
  width: 540px;
  padding: 20px 15px;

  background-color: #f8f7f4;
  border-radius: 10px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);

  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  display: none;
}

.cart-popup a {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.cart-list  {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;

  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.cart-item  {
  margin-bottom: 10px;
  list-style: none;
  align-items: center;
}

.item-image {
  margin-right: 15px;
}

.item-link {
  display: inline-block;
  vertical-align: middle;

  max-width: 219px;
  margin-right: 35px;
}

.item-weight {
  margin-right: 35px;
}

.item-weight span {
  color: rgba(0, 0, 0, .4);
}

.remove-item {
  margin-right: 15px;
  position: relative;

  border: none;
  background-color: transparent;

  width: 12px;
  height: 12px;
  cursor: pointer;
}

.remove-item::before {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #323232;
  position: absolute;
  transform: rotate(45deg);
  right: 1px;
  top: 4px;
}

.remove-item::after {
  content: "";
  width: 14px;
  height: 2px;
  background-color: #323232;
  position: absolute;
  transform: rotate(-45deg);
  right: 1px;
  top: 4px;
}

.summary {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-align: right;
}

.cart-popup .button {
  display: inline-block;
  vertical-align: middle;

  padding: 10px 20px;
  margin: 0 0 0 358px;

  border: none;
  border-radius: 30px;
}

/* hover active focus */

.login-link:hover {
  background-image: url(../img/login-black.svg);
}

.user-item:hover .login-popup {
  display: block;
}

.cart-link:hover {
  background-image: url(../img/cart-black.svg);
}

.cart-added:hover {
  background-image: url(../img/cart-full.svg);
  background-color: #fefefe;
  color: #000000;
}

.user-item:hover .cart-popup{
  display: block;
}

.footer-link:hover,
.developer a:hover  {
  color: #ffbc9e;
  text-decoration: underline solid #ffbc9e;
}

.button:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(236,111,94) 0%, rgb(245,134,105) 100%);
  box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.6);
}

.slide-toggle:hover,
.page-number-link:hover {
  background-color: #9db1a5;
}

.slide-toggle:active,
.page-number-link:active {
  background-color: #ffffff;
  color: #323232;
}

.catalog-form select:hover {
  color: #323232;
  background-image: url(../img/arrow-select-black.svg)
}

.filter-button:hover {
  background-color: #fefefe;
  color: #323232;
}

.filter-button:active {
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.8);
}

.arrow-link:hover {
  background: transparent url(../img/icon-right-small-white.svg) center no-repeat;
}

.vk-icon:hover {
  background-image: url(../img/vk-hover.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .8);
}

.vk-icon:active {
  background-image: url(../img/vk-active.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .6);
}
.twitter-icon:hover {
  background-image: url(../img/twitter-hover.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .8);
}

.twitter-icon:active {
  background-image: url(../img/twitter-active.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .6);
}
.insta-icon:hover {
  background-image: url(../img/insta-hover.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .8);
}

.insta-icon:active {
  background-image: url(../img/insta-active.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .6);
}
.fb-icon:hover {
  background-image: url(../img/fb-hover.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .8);
}

.fb-icon:active {
  background-image: url(../img/fb-active.svg);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .6);
}










